
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #202020;
    padding: 20px;
    color: #fff;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #333;
    margin: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #575757;
}

main {
    padding: 20px;
}

.ccm-intro h1 {
    color: #00ff99;
    font-size: 28px;
}

.ccm-intro p {
    font-size: 18px;
    margin-bottom: 20px;
}

.upload-project-btn {
    background-color: #00ff99;
    color: #000;
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    display: block;
    margin: 20px auto;
    text-align: center;
}

.upload-project-btn:hover {
    background-color: #00cc7a;
    transform: translateY(-5px);
}
